app:
  name: mahakala
  version: 2023.8.4
binance:
  base_url: https://fapi.binance.com
  api_key:
  api_secret:
db:
  host: localhost
  port: 5432
  user: postgres
  password: postgres
  database: postgres
feishu:
  app_id:
  app_secret:
  receive_id:
logging:
  version: 1
  formatters:
    simple:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      formatter: simple
      level: DEBUG
  loggers:
    console_logger:
      handlers: [ console ]
      level: DEBUG
mahakala:
  update_klines: True
  analyze_amount: 100
  open_amount: 1000